body{
    background-color: blanchedalmond;
}

h1{
    color: chocolate;
    text-align: center;
    padding: 10px;
}

h2{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: darkorange;
    font-size: 18px;

}

.list{
    color: crimson;
}

img{
    border: 3px solid brown;
    border-radius: 30px;
}